@{
    ViewBag.Title = "Home Page";
}

<head>
    <title>@ViewBag.Title</title>     
    @Styles.Render("~/Content/Site.css")
    @Styles.Render("~/Content/bootstrap.css")     
    @Styles.Render("~/Content/index.css")

    @Scripts.Render("~/Scripts/jquery-2.1.1.js")
    @Scripts.Render("~/Scripts/bootstrap.min.js")
    @Scripts.Render("~/Scripts/angular.js")
    @Scripts.Render("~/Scripts/index/index.js")
    @Scripts.Render("~/Scripts/index/taskFactory.js")
    @Scripts.Render("~/Scripts/noty/jquery.noty.js")
    @Scripts.Render("~/Scripts/noty/layouts/top.js")
    @Scripts.Render("~/Scripts/noty/themes/default.js")
</head>

<body class="container-fluid" ng-app="agileIndexApp">
    <div ng-controller="agileIndexController">
        <div class="row">
            <div id="webpageHeader">
                <div id="headerMessage">Welcome to Your AgileTaskKeeper - Let's get Agile!</div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-7">
                <h3>All Tasks:</h3>
                <ul>
                    <li class="taskListItem" ng-class-odd="'oddTaskRow'" ng-class-even="'evenTaskRow'" 
                        ng-repeat="task in listOfTasks" ng-click="updateTitleBox(task)"> 

                        <span>Title: {{task.Title}}</span><span>Body: {{task.Body}}</span><span>Status: {{translateStatus([[task.MyStatus]])}}</span>
                    </li>
                </ul>
            </div>


            <div class="col-sm-5">
                <h3>Options:</h3>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    Create a new Task
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <form id="newTaskForm">
                                    <p>
                                        <label for="taskTitle">Title:</label>
                                        <input type="text" name="Title" ng-model="newFormTitle" placeholder="New title here..." />
                                    </p>
                                    <p>
                                        <label for="newTaskBody">New Body:</label>
                                        <input type="text" name="Body" ng-model="newFormBody" placeholder="New body here..." />
                                    </p>
                                    <input type="button" value="Save" ng-click="saveTask()" />
                                </form>                            
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    Update a Task - Click on task to select!
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                <form id="updateTaskForm">
                                    <p>
                                        <label for="taskTitle">Title:</label>
                                        <input type="text" name="Title" ng-model="updateFormTitle" placeholder="Click on task to pop" disabled />
                                    </p>
                                    <p>
                                        <label for="newTaskBody">New Body:</label>
                                        <input type="text" name="Body" ng-model="updateFormBody" placeholder="New body here..." />
                                    </p>
                                    <p>
                                        <label for="newTaskStatus">Status:</label>
                                        <input type="text" name="MyStatus" ng-model="updateFormStatus" placeholder="New status here..." />
                                    </p>
                                    <input type="button" value="Update" ng-click="updateTask()" />
                                </form>                            
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                    Delete a Task - Click on task to select!
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                <form id="deleteTaskForm">
                                    <p>
                                        <label for="taskTitle">Title:</label>
                                        <input type="text" name="Title" ng-model="deleteFormTitle" placeholder="Click on task to pop" disabled />
                                    </p>
                                    <input type="button" value="Delete" ng-click="deleteTask()" />
                                </form>                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
