@{
    ViewBag.Title = "Home Page";
}

<head>
    <title>Home Page</title>   
    @Styles.Render("~/Content/Index.css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/Index.js")
    @Scripts.Render("~/Scripts/noty/jquery.noty.js")
    @Scripts.Render("~/Scripts/noty/layouts/top.js")
    @Scripts.Render("~/Scripts/noty/themes/default.js")
</head>

<body class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <h3>All Tasks:</h3>
            <ul id="allTasks"></ul>
        </div>


        <div class="col-sm-3">
            <form id="newTaskForm" method="post">
                <h3>Create a new Task</h3>
                <p>
                    <label for="taskTitle">Title:</label>
                    <input type="text" name="Title" />
                </p>
                <p>
                    <label for="taskBody">Body:</label>
                    <input type="text" name="Body" />
                </p>
                <input type="button" id="saveTask" value="Save" />
            </form>
        </div>

        <div class="col-sm-3">
            <form id="updateTaskForm" method="post">
                <h3>Update a new Task</h3>
                <p>
                    <label for="taskTitle">Title:</label>
                    <input type="text" name="Title" />
                </p>
                <p>
                    <label for="newTaskBody">New Body:</label>
                    <input type="text" name="Body" />
                </p>
                <input type="button" id="updateTask" value="Update" />
            </form>
        </div>
    </div>
</body>
